[Desktop Entry]
Encoding=UTF-8
Name=Harvard Forest
Type=Link
URL=http://harvardforest.fas.harvard.edu:8080/exist/apps/datasets/showData.html?id=hf249
Icon=text-html
